/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

html,
body {
  touch-action: manipulation;
  overscroll-behavior-y: none;
}
.decorated-header {
  font-family: 'Architects Daughter', cursive;
}
.puzzle-cast {
  transform-origin: bottom center;
}
